<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Insert title here</title>
	</head>
	
	</body>
		<div class="container">
			<h1>
				<label th:text="#{app.title}"></label>2
			</h1>
			
			
			<div id="alertTop" class="alert alert-warning alert-dismissible fade" role="alert" style="display:none">
			  <span id="messageAlert">s</span>
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
			
			
			<div class="row">
				<div class="col-md-5">
					<form th:object="${aluno}" method="POST" id="formAluno">
					    <div>
					    	<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"
								th:class="alert alert-success">Dados incorretos</p>
					    </div>
					    
					    <div class="form-group">
					    	
					    	<label th:text="Matricula"></label>
					        <input class="form-control" type="number" th:field="*{matricula}"/>
					    </div>
					    
					    <div class="form-group">        
					    	<label th:text="Nome" th:classappend="${#fields.hasErrors('nome')}? 'has-error'"></label>
					    	<input class="form-control" type="text" th:field="*{nome}" />
					    	
					    	<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:class="text-danger">Dados incorretos</p>
					    </div>
					    
					    <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">        
					    	<label th:text="Email"></label>
					    	<input class="form-control" type="email" th:field="*{email}" />
					    	
					    	<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="text-danger">Dados incorretos</p>
					    </div>
					    
					    <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">        
					    	<label th:text="Password"></label>
					    	<input class="form-control" type="password" th:field="*{password}" />
					    	
					    	<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="text-danger">Dados incorretos</p>
					    </div>
					    
					    <div class="form-group">  
					    	<label th:text="Sexo"></label>
					    	
							<input type="radio" th:field="*{sexo}" value="M" class="form-input"/>Masculino
							<input type="radio" th:field="*{sexo}" value="F" class="form-input"/>Feminino
  								
					    </div>
					    
					    <div class="form-group" th:classappend="${#fields.hasErrors('dataNascimento')}? 'has-error'">  
					          <label th:text="Nascimento"></label>
					          <input class="form-control" type="date" th:field="*{dataNascimento}" />
					    </div>
					    
					    <div class="form-group">  
					    	<label th:text="'Fluxo Normal'"></label>
  							<input type="checkbox" th:field="*{fluxoNormal}" />
					    </div>
					    
					    
					    
					    <div class="form-check">  
					    	<ul th:each="bolsa: ${tiposAlunosAll}" class="list-unstyled">
					    		<li>
					   
  									<input type="radio" th:field="*{tipoDeAluno}" th:value="${bolsa}" class="form-check-input"/>
  									<label th:text="${bolsa.nome}" class="form-check-label"></label>
  								</li>
  								
  							</ul>
					    </div>
					    
					    <div class="form-group">  
					    	<label th:text="Município"></label>
  							
  							<select th:field="*{endereco.cidade}" class="form-control">
							 	<option th:each="m : ${municipioAll}" th:value="${m}" 
							          th:text="${m}">
							    </option>
							</select>
					    </div>
					    
					    <input type="submit" value="Enviar" class="btn btn-primary"/>
 
					</form>
				</div><!-- end col -->
				
				<div class="col-md-5">
					<table class="table table-striped table-hover table-sm">
				    	<thead>
					      	<tr>
					      		<th>#</th>
						        <th>Códido</th>
						        <th>Nome</th>
						        <th>Nascimento</th>
						        <th>Matricula</th>
						         <th>Ação</th>
					      	</tr>
				    	</thead>
				    	<tbody id="resultList">
				    		
				    	</tbody>
				    </table>
				</div>
				
			</div><!-- end row -->
			
		</div>
		<div th:insert="~{footer :: copy}"></div>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
		
		<script type="text/javascript" src="/js/aluno/postrequest.js"></script>
		<link rel="stylesheet" href="/style.css">
	</body>
</html>